:root {
  --ngx-calendar-font: Arial, sans-serif;
  --ngx-calendar-background: transparent;

  --ngx-calendar-padding: 0;
  --ngx-calendar-width: auto;

  --ngx-calendar-month-font-weight: 600;
  --ngx-calendar-month-font-size: 16px;

  --ngx-calendar-year-font-weight: 400;
  --ngx-calendar-year-font-size: 16px;

  --ngx-calendar-month-color: black;
  --ngx-calendar-year-color: black;

  --ngx-calendar-previous-month-color: black;
  --ngx-calendar-next-month-color: black;

  --ngx-calendar-previous-month-background-color: transparent;
  --ngx-calendar-next-month-background-color: transparent;

  --ngx-calendar-previous-month-font-weight: 400;
  --ngx-calendar-next-month-font-weight: 400;

  --ngx-calendar-previous-month-font-size: 22px;
  --ngx-calendar-next-month-font-size: 22px;

  --ngx-calendar-cell-height: auto;
  --ngx-calendar-cell-width: auto;

  --ngx-calendar-cell-background-color: transparent;
  --ngx-calendar-cell-color: black;

  --ngx-calendar-cell-today-color: #2460c0;
  --ngx-calendar-cell-today-background-color: transparent;

  --ngx-calendar-cell-selected-date-background-color: #e7e7e7;
  --ngx-calendar-cell-selected-date-color: black;

  --ngx-calendar-cell-gap: 2px;
  --ngx-calendar-cell-border-radius: 4px;

  --ngx-calendar-weekday-color: #b7b7b7;
}
